/* Basic styling */
 @import '../styles/theme.css'; 
@import './bookDetail.css';
@import './readingList.css';
@import './dashboard.css';
@import './navbar.css';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {

  padding: 20px;
  text-align: center;
}

input {
  padding: 10px;
  width: 80%;
}

#book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px 40px;
}

.book-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  transition: transform 0.3s;
}
.book-card:hover {
  transform: scale(1.05);
}

.book-card img {
  max-width: 100px;
}
.book-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.book-card p {
  font-size: 14px;
  color: #666;
}

.book-card button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* navba */
#pagination-controls {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#pagination-controls button {
  margin: 0 5px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

#pagination-controls button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


/* General Footer Styling */
.footer {
  background-color: #222;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-left p {
  margin: 0;
}

.footer-center {
  flex-grow: 1;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #007bff;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
}

.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-links li {
  margin: 0 10px;
}

.social-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #007bff;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-center {
    margin-top: 20px;
  }

  .footer-right {
    margin-top: 20px;
  }
}


