/* Basic styling */
 @import '../styles/theme.css'; 
@import './bookDetail.css';
@import './readingList.css';
@import './dashboard.css';
@import './navbar.css';
@import './HomePage.css';
@import'./BookCard.css';



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}



